<section class="contentRow">
  <div class="sectionDivision">
    <form action="#" method="POST">
      <input name="title" type="text" placeholder="Título *" />
      <input
        name="group_name"
        type="text"
        placeholder="Nome da empresa (Terceiro)"
      />
      <input name="cnpj" type="text" placeholder="CNPJ" />
      <textarea
        placeholder="Ticket message"
        name="description"
        id=""
        cols="30"
        rows="10"
      ></textarea>
      <button>Anexar arquivo</button>
      <button>Compartilhar solicitação</button>
      <button type="submit">SUBMIT</button>
    </form>
  </div>
</section>
