<section class="contentRow">
  <div class="sectionDivision">
    <form action="#" method="POST">
      <input type="text" placeholder="Título *" />
      <input type="text" placeholder="Disponibilidade *" />
      <input type="text" placeholder="Tipo de chamado *" />
      <input type="text" placeholder="Nome da empresa (Terceiro)" />
      <input type="text" placeholder="CNPJ" />
      <input type="text" placeholder="Usuário de Rede *" />
      <textarea
        placeholder="Ticket message"
        name=""
        id=""
        cols="30"
        rows="10"
      ></textarea>
      <button>Anexar arquivo</button>
      <button>Compartilhar solicitação</button>
      <button>SUBMIT</button>
    </form>
  </div>
</section>