<div class="sectionDivision">
  <h3 id="userName">Solicitante</h3>
  <ul id="userData">
    <li>
      <p class="property">Nome</p>
      <p>Laercio Candido</p>
    </li>

    <li>
      <p class="property">Unidade</p>
      <p>XYZ</p>
    </li>

    <li>
      <p class="property">N de tel</p>
      <p>62987213723</p>
    </li>

    <li>
      <p class="property">E-mail</p>
      <p>kallebegomes18@gmail.com</p>
    </li>

    <li>
      <p class="property">Departamento</p>
      <p>#N/A</p>
    </li>

    <li>
      <p class="property">Localidade</p>
      <p>Goiânia - GO</p>
    </li>

    <li>
      <p class="property">Especificação</p>
      <p>~</p>
    </li>

    <li>
      <p class="property">Cidade</p>
      <p>São Paulo</p>
    </li>
  </ul>
</div>
