<div class="col-6">
  <div class="panel">
    <div class="panel_title_bar">
      <h4>Ferramentas do Sistema</h4>

      <i class="material-icons md-24 md-light">settings</i>
    </div>

    <div class="row p-1 m-1">
      <div class="col-sm-2 p-1">
        <div class="system_tool_link">
          <a href="#">
            <i class="material-icons md-72">speed</i>
            <h6>Indicadores</h6>
          </a>
        </div>
      </div>

      <div class="col-sm-2 p-1">
        <div class="system_tool_link">
          <a href="#">
            <i class="material-icons md-72">find_in_page</i>
            <h6>Documentação</h6>
          </a>
        </div>
      </div>

      <div class="col-sm-2 p-1">
        <div class="system_tool_link">
          <a href="#">
            <i class="material-icons md-72">view_module</i>
            <h6>Modulos</h6>
          </a>
        </div>
      </div>

      <div class="col-sm-2 p-1">
        <div class="system_tool_link">
          <a href="#">
            <i class="material-icons md-72">build</i>
            <h6>Configurações</h6>
          </a>
        </div>
      </div>

      <div class="col-sm-2 p-1">
        <div class="system_tool_link">
          <a href="#">
            <i class="material-icons md-72"
              >supervised_user_circle</i
            >
            <h6>Usuarios</h6>
          </a>
        </div>
      </div>

      <div class="col-sm-2 p-1">
        <div class="system_tool_link">
          <a href="#">
            <i class="material-icons md-72">tune</i>
            <h6>Personalizar</h6>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="/css/operator/home/_admin_tools.css" />
