<div class="col-7">
  <div class="rowTicket">
    <div class="titleBar">
      <h4>Métricas e Relatórios</h4>

      <i class="material-icons md-24 md-light">settings</i>
    </div>

    <div class="image_grid_row">
      <div class="image_grid_column">
        <img
          class="img-fluid rounded"
          src="/img/random_graphs/11.gif"
          alt="random graph"
        />
        <img
          class="img-fluid rounded"
          src="/img/random_graphs/1.png"
          alt="random graph"
        />
        <img
          class="img-fluid rounded"
          src="/img/random_graphs/6.png"
          alt="random graph"
        />
      </div>

      <div class="image_grid_column">
        <img
          class="img-fluid rounded"
          src="/img/random_graphs/4.png"
          alt="random graph"
        />
        <img
          class="img-fluid rounded"
          src="/img/random_graphs/2.jpg"
          alt="random graph"
        />
        <img
          class="img-fluid rounded"
          src="/img/random_graphs/7.jpeg"
          alt="random graph"
        />
      </div>

      <div class="image_grid_column">
        <img
          class="img-fluid rounded"
          src="/img/random_graphs/3.jpg"
          alt="random graph"
        />
        <img
          class="img-fluid rounded"
          src="/img/random_graphs/5.png"
          alt="random graph"
        />
        <img
          class="img-fluid rounded"
          src="/img/random_graphs/9.png"
          alt="random graph"
        />
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="/css/operator/incident_analysis.css" />
