<div class="col-12">
  <div class="panel">
    <div class="panel_title_bar">
      <h4>Tickets Principais</h4>

      <i class="material-icons md-24 md-light">settings</i>
    </div>
    <div class="y_overflow_list">
      <% Array(2).fill().forEach((num) => { %>

        <div class="col-12" id="ticket">
          <div class="col-10" id="ticketInfo">
            <h5>
              <%= faker.fake("{{lorem.words}}?") %>
            </h5>
  
            <h6>
              <%= faker.fake("Ticket aberto por: {{name.findName}}") %>
            </h6>
  
            <p>
              <%= faker.fake("{{lorem.sentence}}...") %>
            </p>
          </div>
          <div class="col-2" id="ticketStatus">
            <i class="material-icons md-48 md-dark">assignment_late</i>
          </div>
        </div>


      <% }) %>
    </div>
  </div>
</div>

<link rel="stylesheet" href="/css/operator/_top_priority_tickets.css" />
