<div class="col-6">
  <div class="panel">
    <div class="panel_title_bar">
      <h4>Bem vindo de volta!</h4>

      <i class="material-icons md-24 md-light">settings</i>
    </div>

    <div class="row p-0 m-0 operator_info">
      <div class="col-3 p-2">
        <img
          class="img-fluid rounded"
          src="/img/random_avatars/17.jpg"
          alt="operator"
        />
      </div>

      <div class="col-9 p-2">
        <div class="operator_info_head">
          <div class="operator_info_title">
            <a href="#" class="operator_info_name">Clara Oliveira</a>

            <span class="operator_info_description">Junior Developer</span>
          </div>

          <div class="operator_info_stats">
            <div class="operator_info_stat">
              <i class="material-icons md-36 md-success"
                >assignment_turned_in
              </i>

              <div class="operator_info_stat_details">
                <span>Tickets resolvidos</span>
                <span>95</span>
              </div>
            </div>

            <div class="operator_info_stat">
              <i class="material-icons md-36 md-danger">assignment_late</i>

              <div class="operator_info_stat_details">
                <span>Tickets críticos</span>
                <span>23</span>
              </div>
            </div>

            <div class="operator_info_stat">
              <i class="material-icons md-36 md-gold">star_half</i>

              <div class="operator_info_stat_details">
                <span>Feedback médio</span>
                <span>4.59</span>
              </div>
            </div>
          </div>
        </div>

        <div class="four_line_text">
          Desenvolvedor web, com conhecimentos em NodeJs, atua no backend da
          aplicacao desenvolvendo solucoes para o sistema
          <%= faker.lorem.paragraphs() %>
        </div>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="/css/operator/home/_operator_info.css" />
