<div class="col-6">
  <div class="panel">
    <div class="panel_title_bar">
      <h4>Bem vindo de volta!</h4>

      <i class="material-icons md-24 md-light">settings</i>
    </div>

    <div class="row p-0 m-0">
      <div class="col-3 p-2">
        <img
          class="img-fluid rounded"
          src="/img/random_avatars/17.jpg"
          alt="operator"
        />
      </div>

      <div class="col-9 p-2">
        <h3>Clara Oliveira</h3>

        <span>Junior Developer</span>

        <div class="two_line_text">
          Desenvolvedor web, com conhecimentos em NodeJs, atua no backend da
          aplicacao desenvolvendo solucoes para o sistema Curabitur malesuada
          suscipit nibh ut imperdiet. Duis malesuada odio sed enim gravida
          lacinia. Nam metus enim, laoreet vitae ipsum ut, molestie ultricies
          arcu. Integer dapibus porttitor malesuada. Nunc ornare tincidunt
          cursus. Aenean ac leo eget ipsum volutpat consequat tempor in ligula.
          Nam vitae massa vel mi mattis convallis vitae ac risus. Nunc venenatis
          congue eleifend. Nulla ligula justo, auctor quis pellentesque sit
          amet, porttitor vel ante. Curabitur rhoncus ligula id finibus
          vestibulum.
        </div>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="/css/operator/home/_operator_info.css" />
