<div class="col-6">
  <div class="rowTicket">
    <div class="titleBar">
      <h4>Bem vindo de volta!</h4>

      <i class="material-icons md-24 md-light">settings</i>
    </div>

    <div class="row p-0 m-0">
      <div class="col-3 p-2">
        <img
          class="img-fluid rounded"
          src="/img/random_avatars/17.jpg"
          alt="operator"
        />
      </div>

      <div class="col-9 p-2">
        <h3>Clara Oliveira</h3>
        <span>Junior Developer</span>
        <p>
          Desenvolvedor web, com conhecimentos em NodeJs, atua no backend da
          aplicacao desenvolvendo solucoes para o sistema ...
        </p>
      </div>
    </div>
  </div>
</div>
