<div class="col-12">
  <div class="rowTicket">
    <div class="titleBar">
      <h4>Tickets por Grupo</h4>

      <i class="material-icons md-24 md-light">settings</i>
    </div>

    <div class="row">
      <h6>Redes e Servidores</h6>
    </div>

    <div class="row">
      <h6>Redes e Servidores</h6>
    </div>

    <div class="row">
      <h6>Redes e Servidores</h6>
    </div>

  </div>
</div>
