<div class="col-12">
  <div class="panel">
    <div class="panel_title_bar">
      <h4>Últimas atualizações</h4>

      <i class="material-icons md-24 md-light">settings</i>
    </div>
    <% Array(3).fill().forEach((num) => { %>

    <div class="row p-0 m-1">

      <%- include("./_update.ejs")%>

      <%- include("./_update.ejs")%>

    <% }) %>
  </div>
</div>

<link rel="stylesheet" href="/css/operator/home/_updates.css" />
