<!-- TITLE -->
<%- contentFor('title') %>
Dashboard
<!-- END -->

<!-- BODY -->
<%- contentFor('body') %>

<%- include("../_sidenav.ejs")%>

<div class="contentContainer">
  <%- include("../_headbar.ejs")%>
</div>
<!-- STYLE -->
<link rel="stylesheet" href="css/user/home.css" type="text/css" />
<!-- END -->