<div class="col-md-2">
  <div class="card" style="width: 18rem;">
    <img
      src="/img/thumbnails/operator_dashboard.png"
      class="card-img-top"
      alt="..."
    />

    <div class="card-body">
      <h5 class="card-title">Dashboard do Operador</h5>

      <p class="card-text">
        Onde visualizamos filas e relatórios, e também acessamos as varias
        funcionalidades da aplicação.
      </p>

      <a href="/operator" class="btn btn-primary">Visualizar</a>
    </div>
  </div>
</div>

<div class="col-md-2">
  <div class="card" style="width: 18rem;">
    <img
      src="/img/thumbnails/operator_tickets.png"
      class="card-img-top"
      alt="..."
    />

    <div class="card-body">
      <h5 class="card-title">Fila de chamados</h5>

      <p class="card-text">
        Onde visualizamos detalhadamente os chamados de um grupo de operadores
        em formato de tabela.
      </p>

      <a href="/operator/ticket" class="btn btn-primary">Visualizar</a>
    </div>
  </div>
</div>

<div class="col-md-2">
  <div class="card border-info" style="width: 18rem;">
    <img
      src="/img/thumbnails/operator_ticket_open.png"
      class="card-img-top"
      alt="..."
    />

    <div class="card-body">
      <h5 class="card-title">Ticket Aberto</h5>

      <p class="card-text">
        Onde Operadores visualizam com detalhes o chamado aberto e podem atribuir mensagens ao usuário.
      </p>

      <a href="/operator/ticket/open" class="btn btn-primary">Visualizar</a>
    </div>
  </div>
</div>

<div class="col-md-2">
  <div class="card" style="width: 18rem;">
    <img
      src="/img/thumbnails/operator_users.png"
      class="card-img-top"
      alt="..."
    />

    <div class="card-body">
      <h5 class="card-title">Listagem de usuarios</h5>

      <p class="card-text">
        Onde Operadores visualizam os usuarios.
      </p>

      <a href="/operator/users" class="btn btn-primary">Visualizar</a>
    </div>
  </div>
</div>

<div class="col-md-2">
  <div class="card" style="width: 18rem;">
    <img
      src="/img/thumbnails/operator_kanban.png"
      class="card-img-top"
      alt="..."
    />

    <div class="card-body">
      <h5 class="card-title">Kanban</h5>

      <p class="card-text">
        Kanban para os operadores :D.
      </p>

      <a href="/operator/kanban" class="btn btn-primary">Visualizar</a>
    </div>
  </div>
</div>
