<div class="col-md-2">
  <div class="card" style="width: 18rem;">
    <img src="/img/thumbnails/user_dashboard.png" class="card-img-top" alt="..." />

    <div class="card-body">
      <h5 class="card-title">Dashboard do Usuario</h5>

      <p class="card-text">
        Dashboard onde temos acesso a todas as funcionalidades e iniciamos a
        jornada de abertuda de chamado.
      </p>

      <a href="/user" class="btn btn-primary">Visualizar</a>
    </div>
  </div>
</div>

<div class="col-md-2">
  <div class="card" style="width: 18rem;">
    <img src="/img/thumbnails/user_subcategory.png" class="card-img-top" alt="..." />

    <div class="card-body">
      <h5 class="card-title">Seleção de Subcategoria</h5>

      <p class="card-text">
        Onde onde expecificamos a subcategoria na abertura do chamado.
      </p>

      <a href="/user/subcategory" class="btn btn-primary">Visualizar</a>
    </div>
  </div>
</div>

<div class="col-md-2">
  <div class="card" style="width: 18rem;">
    <img src="/img/thumbnails/user_new_ticket.png" class="card-img-top" alt="..." />

    <div class="card-body">
      <h5 class="card-title">Criação de ticket</h5>

      <p class="card-text">
        Onde solicitamos ajuda, explicamos o erro e comunicamos nossas dúvidas.
      </p>

      <a href="/user/tickets/new" class="btn btn-primary">Visualizar</a>
    </div>
  </div>
</div>

<div class="col-md-2">
  <div class="card" style="width: 18rem;">
    <img src="/img/thumbnails/user_tickets.png" class="card-img-top" alt="..." />

    <div class="card-body">
      <h5 class="card-title">Listasgem de tickets</h5>

      <p class="card-text">
        Onde o usuário todos seu histórico de tickets.
      </p>

      <a href="/user/tickets" class="btn btn-primary">Visualizar</a>
    </div>
  </div>
</div>

<div class="col-md-2">
  <div class="card" style="width: 18rem;">
    <img src="/img/thumbnails/user_show_ticket.png" class="card-img-top" alt="..." />

    <div class="card-body">
      <h5 class="card-title">Vizualização de ticket</h5>

      <p class="card-text">
        Onde o usuário pode vizualizar o ticket aberto e conversar por chat com o operador.
      </p>

      <a href="/user/tickets/show" class="btn btn-primary">Visualizar</a>
    </div>
  </div>
</div>
