<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="css/material_icons_custom.css" type="text/css" />

  <link rel="stylesheet" href="css/reset.css" type="text/css" />
  <link rel="stylesheet" href="css/sidenav.css" type="text/css" />

  <title>NeoDesk | Operador</title>
</head>
