<div class="p-0 my-2 ml-1 mr-2">
  <img class="user_avatar" src="<%= faker.internet.avatar() %>" alt="user" />

  <label for="user_avatar_upload">
    <i class="material-icons md-36 md-primary-light edit_user_avatar">create</i>
  </label>
  <input type="file" class="form-control-file" id="user_avatar_upload" hidden />
</div>
