<nav id="sideBarClosed">
  <%- include("../../design/logo/logo_white.svg");%>
  <button class="closed" onClick="openNavBar()"></button>
  <img class="closed"/>
  <img class="closed"/>
  <img class="closed"/>

  <div class="open">
    <div><a href="#">HOME</a></div>
    <div><a href="#">CHAMADOS</a></div>
    <div><a href="#">PERFIL</a></div>
    <div id="logout"><a href="#">LOGOUT</a></div>
  </div>
  <script>
    window.addEventListener('click', (e) => {
      let navBar = document.getElementsByTagName('nav')[0];
      if(navBar.offsetWidth > 100 && e.offsetX > navBar.offsetWidth){
        navBar.setAttribute('id', 'sideBarClosed');
      }
    })
    function openNavBar() {
      let navBar = document.getElementsByTagName('nav')[0];
      navBar.setAttribute('id', 'sideBarOpen');
    }
  </script>
</nav>