<div id="InfoContainer">
  <div id="banner">
    <img src="../img/ti-bg.jpg" alt="Banner TI" />
  </div>

  <article>
    <h2>Info sobre categoria</h2>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sunt
      asperiores maiores, voluptatibus maxime totam harum facilis repellat.
      Minus laborum ipsa eum quae sequi aspernatur aliquam dolor voluptatibus
      sapiente id!
    </p>
  </article>
</div>
