<nav class="subCategoryOptions">
  <a href="user/tickets/new" class="option">
    <i class="material-icons">assignment</i>

    <span>Opcao de subcategoria</span>
  </a>

  <a href="user/tickets/new" class="option">
    <i class="material-icons">assignment</i>

    <span>Opcao de subcategoria</span>
  </a>

  <a href="user/tickets/new" class="option">
    <i class="material-icons">assignment</i>

    <span>Opcao de subcategoria</span>
  </a>

  <a href="user/tickets/new" class="option">
    <i class="material-icons">assignment</i>

    <span>Opcao de subcategoria</span>
  </a>
  <a href="user/tickets/new" class="option">
    <i class="material-icons">assignment</i>

    <span>Opcao de subcategoria</span>
  </a>

  <a href="user/tickets/new" class="option">
    <i class="material-icons">assignment</i>

    <span>Opcao de subcategoria</span>
  </a>
</nav>
