main {
  width: 100%;
  min-height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#InfoContainer {
  width: 800px;
}

#banner {
  width: 800px;
  height: 400px;
  margin: 20px;
}

#banner img {
  width: 800px;
  height: 400px;
  border-radius: 20px;
}

article {
  background-color: var(--clr-grey-5);
  width: 800px;
  margin: 10px 20px;
  padding: 20px;
  border-radius: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: start;
}

article p {
  font-size: 18px;
}

.subCategoryOptions {
  width: 400px;
}

.subCategoryOptions .option {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 60px;
  margin: 20px 20px;
  border-radius: 15px;

  background-color: var(--clr-grey-5);
  color: var(--clr-white);
}

.subCategoryOptions span {
  margin-left: 10px;
  font-size: 18px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}