<footer id="main_footer">
  <i class="material-icons md-12 md-light">copyright</i>

  <p>
    NeoDesk, All Rights Reserved
  </p>
</footer>

<link rel="stylesheet" href="/css/shared/_footer.css" type="text/css" />
