<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <i class="material-icons md-36 md-dark">home</i>

    <% path.forEach((screen, index) => { %> 
      <% if( index < path.length - 1 ) { %>

      <li class="breadcrumb-item"><a href="#"><%= screen %></a></li>

      <% } else { %>

      <li class="breadcrumb-item active" aria-current="page"><%= screen %></li>

      <% } %>
    <% }) %>
  </ol>
</nav>

<link rel="stylesheet" href="/css/shared/path.css" type="text/css" />
