<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <i class="material-icons md-36 md-dark">home</i>

    <% crumbs.forEach((crumb, index) => { %> 

      <% if( index < crumbs.length - 1 ) { %>

      <li class="breadcrumb-item"><a href="<%= crumb.path %>">
        <%= crumb.name %></a>
      </li>

      <% } else { %>

      <li class="breadcrumb-item active" aria-current="page">
        <%= crumb.name %>
      </li>

      <% } %>
    
    <% }) %>
  </ol>
</nav>

<link rel="stylesheet" href="/css/shared/_path.css" type="text/css" />
