<div class="pathContainer">
  <i class="material-icons md-36 md-dark">home</i>
  <a href="#">
    <%path.forEach((p,i) => {%>
      <%if(i<path.length-1) {%>
        <%=p%> >
      <%} else {%>
        <%=p%>
      <%}%>
    <%})%>
  </a>
</div>