<div class="col-12">
  <div class="rowTicket">
    <div class="titleBar">
      <h4>Todos os Tickets</h4>
      <i class="material-icons md-24 md-light">settings</i>
    </div>

    <div class="ticketList">
      <table class="tableTickets">
        <thead class="tableHead">
          <tr>
            <th>
              <input type="checkbox" />
            </th>

            <th>ID</th>

            <th>Título</th>

            <th>Categoria</th>

            <th>Aberto por</th>

            <th>Atendido por</th>

            <th>Prioridade</th>

            <th>Data</th>

            <th>Status</th>

            <th>Ações</th>
          </tr>
        </thead>

        <tbody class="tableBody">
          <% Array(30).fill().forEach((num) => { %>

          <tr>
            <td>
              <input type="checkbox" />
            </td>

            <td>#1332</td>

            <td>Qual a senha do Wi-fi?</td>

            <td>Infraestrutura</td>

            <td>
              <span class="user_cell">
                <img
                  class="user_cell_avatar"
                  src="/img/random_avatars/<%= Math.floor(Math.random() * 18) %>.jpg"
                />

                <span class="user_cell_info">
                  <a>João Dias</a>

                  <span>Gerente | Dpto. de Compras</span>
                </span>
              </span>
            </td>

            <td>
              <span class="user_cell">
                <img
                  class="user_cell_avatar"
                  src="/img/random_avatars/<%= Math.floor(Math.random() * 18) %>.jpg"
                />

                <span class="user_cell_info">
                  <a>Clara Oliveira</a>

                  <span>Junior Developer</span>
                </span>
              </span>
            </td>

            <td>Alta</td>

            <td>06-abr-2020</td>

            <td>Atendido</td>

            <td><i class="material-icons md-24 md-dark">more_horiz</i></td>
          </tr>

          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
