<div class="col-12">
  <div class="rowTicket">
    <div class="titleBar">
      <h4>Todos os Tickets</h4>
      <i class="material-icons md-24 md-light">settings</i>
    </div>
    <div class="ticketList">
      <div class="col-12" id="ticket">
        <div class="col-10" id="ticketInfo">
          <h5>Qual a senha do Wi-fi?</h5>
          <h6>Ticket aberto por: Fred Postigo</h6>
          <p>Preciso saber qual a senha para aces...</p>
        </div>
        <div class="col-2" id="ticketStatus">
          <i class="material-icons md-48 md-dark">assignment_late</i>
        </div>
      </div>
      <div class="col-12" id="ticket">
        <div class="col-10" id="ticketInfo">
          <h5>Qual a senha do Wi-fi?</h5>
          <h6>Ticket aberto por: Fred Postigo</h6>
          <p>Preciso saber qual a senha para aces...</p>
        </div>
        <div class="col-2" id="ticketStatus">
          <i class="material-icons md-48 md-dark">assignment_late</i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-12">
  <div class="rowTicket">
    <div class="titleBar">
      <h4>Todos os Tickets</h4>
      <i class="material-icons md-24 md-light">settings</i>
    </div>
    <div class="ticketList">
      <table class="tableTickets">
        <thead class="tableHead">
          <tr>
            <th>
              <label>
                <input type="checkbox" />
              </label>
            </th>
            <th>ID</th>
            <th>Título</th>
            <th>Categoria</th>
            <th>Aberto por</th>
            <th>Atendido por</th>
            <th>Prioridade</th>
            <th>Data</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody class="tableBody">
          <tr>
            <td>
              <label>
                <input type="checkbox" />
              </label>
            </td>
            <td>#1332</td>
            <td>Qual a senha do Wi-fi?</td>
            <td>Infraestrutura</td>
            <td>
              <div class="requester">
                <div class="requesterAvatar">
                  <img src="/random_avatars/35.jpg" />
                </div>
                <div class="requesterInfo">
                  <a>João Dias</a>
                  <span>Gerente | Dpto. de Compras</span>
                </div>
              </div>
            </td>
            <td>
              <div class="assignee">
                <div class="assigneeAvatar">
                  <img
                    src="/random_avatars/photo-1438761681033-6461ffad8d80.jpg"
                  />
                </div>
                <div class="assigneeInfo">
                  <a>Clara Oliveira</a>
                  <span>Junior Developer</span>
                </div>
              </div>
            </td>
            <td>Alta</td>
            <td>06-abr-2020</td>
            <td>Atendido</td>
            <td><i class="material-icons md-24 md-dark">more_horiz</i></td>
          </tr>
          <tr>
            <td>
              <label>
                <input type="checkbox" />
              </label>
            </td>
            <td>#1332</td>
            <td>Qual a senha do Wi-fi?</td>
            <td>Infraestrutura</td>
            <td>
              <div class="requester">
                <div class="requesterAvatar">
                  <img src="/random_avatars/35.jpg" />
                </div>
                <div class="requesterInfo">
                  <a>João Dias</a>
                  <span>Gerente | Dpto. de Compras</span>
                </div>
              </div>
            </td>
            <td>
              <div class="assignee">
                <div class="assigneeAvatar">
                  <img
                    src="/random_avatars/photo-1438761681033-6461ffad8d80.jpg"
                  />
                </div>
                <div class="assigneeInfo">
                  <a>Clara Oliveira</a>
                  <span>Junior Developer</span>
                </div>
              </div>
            </td>
            <td>Alta</td>
            <td>06-abr-2020</td>
            <td>Atendido</td>
            <td><i class="material-icons md-24 md-dark">more_horiz</i></td>
          </tr>
          <tr>
            <td>
              <label>
                <input type="checkbox" />
              </label>
            </td>
            <td>#1332</td>
            <td>Qual a senha do Wi-fi?</td>
            <td>Infraestrutura</td>
            <td>
              <div class="requester">
                <div class="requesterAvatar">
                  <img src="/random_avatars/35.jpg" />
                </div>
                <div class="requesterInfo">
                  <a>João Dias</a>
                  <span>Gerente | Dpto. de Compras</span>
                </div>
              </div>
            </td>
            <td>
              <div class="assignee">
                <div class="assigneeAvatar">
                  <img
                    src="/random_avatars/photo-1438761681033-6461ffad8d80.jpg"
                  />
                </div>
                <div class="assigneeInfo">
                  <a>Clara Oliveira</a>
                  <span>Junior Developer</span>
                </div>
              </div>
            </td>
            <td>Alta</td>
            <td>06-abr-2020</td>
            <td>Atendido</td>
            <td><i class="material-icons md-24 md-dark">more_horiz</i></td>
          </tr>
          <tr>
            <td>
              <label>
                <input type="checkbox" />
              </label>
            </td>
            <td>#1332</td>
            <td>Qual a senha do Wi-fi?</td>
            <td>Infraestrutura</td>
            <td>
              <div class="requester">
                <div class="requesterAvatar">
                  <img src="/random_avatars/35.jpg" />
                </div>
                <div class="requesterInfo">
                  <a>João Dias</a>
                  <span>Gerente | Dpto. de Compras</span>
                </div>
              </div>
            </td>
            <td>
              <div class="assignee">
                <div class="assigneeAvatar">
                  <img
                    src="/random_avatars/photo-1438761681033-6461ffad8d80.jpg"
                  />
                </div>
                <div class="assigneeInfo">
                  <a>Clara Oliveira</a>
                  <span>Junior Developer</span>
                </div>
              </div>
            </td>
            <td>Alta</td>
            <td>06-abr-2020</td>
            <td>Atendido</td>
            <td><i class="material-icons md-24 md-dark">more_horiz</i></td>
          </tr>
          <tr>
            <td>
              <label>
                <input type="checkbox" />
              </label>
            </td>
            <td>#1332</td>
            <td>Qual a senha do Wi-fi?</td>
            <td>Infraestrutura</td>
            <td>
              <div class="requester">
                <div class="requesterAvatar">
                  <img src="/random_avatars/35.jpg" />
                </div>
                <div class="requesterInfo">
                  <a>João Dias</a>
                  <span>Gerente | Dpto. de Compras</span>
                </div>
              </div>
            </td>
            <td>
              <div class="assignee">
                <div class="assigneeAvatar">
                  <img
                    src="/random_avatars/photo-1438761681033-6461ffad8d80.jpg"
                  />
                </div>
                <div class="assigneeInfo">
                  <a>Clara Oliveira</a>
                  <span>Junior Developer</span>
                </div>
              </div>
            </td>
            <td>Alta</td>
            <td>06-abr-2020</td>
            <td>Atendido</td>
            <td><i class="material-icons md-24 md-dark">more_horiz</i></td>
          </tr>
          <tr>
            <td>
              <label>
                <input type="checkbox" />
              </label>
            </td>
            <td>#1332</td>
            <td>Qual a senha do Wi-fi?</td>
            <td>Infraestrutura</td>
            <td>
              <div class="requester">
                <div class="requesterAvatar">
                  <img src="/random_avatars/35.jpg" />
                </div>
                <div class="requesterInfo">
                  <a>João Dias</a>
                  <span>Gerente | Dpto. de Compras</span>
                </div>
              </div>
            </td>
            <td>
              <div class="assignee">
                <div class="assigneeAvatar">
                  <img
                    src="/random_avatars/photo-1438761681033-6461ffad8d80.jpg"
                  />
                </div>
                <div class="assigneeInfo">
                  <a>Clara Oliveira</a>
                  <span>Junior Developer</span>
                </div>
              </div>
            </td>
            <td>Alta</td>
            <td>06-abr-2020</td>
            <td>Atendido</td>
            <td><i class="material-icons md-24 md-dark">more_horiz</i></td>
          </tr>
          <tr>
            <td>
              <label>
                <input type="checkbox" />
              </label>
            </td>
            <td>#1332</td>
            <td>Qual a senha do Wi-fi?</td>
            <td>Infraestrutura</td>
            <td>
              <div class="requester">
                <div class="requesterAvatar">
                  <img src="/random_avatars/35.jpg" />
                </div>
                <div class="requesterInfo">
                  <a>João Dias</a>
                  <span>Gerente | Dpto. de Compras</span>
                </div>
              </div>
            </td>
            <td>
              <div class="assignee">
                <div class="assigneeAvatar">
                  <img
                    src="/random_avatars/photo-1438761681033-6461ffad8d80.jpg"
                  />
                </div>
                <div class="assigneeInfo">
                  <a>Clara Oliveira</a>
                  <span>Junior Developer</span>
                </div>
              </div>
            </td>
            <td>Alta</td>
            <td>06-abr-2020</td>
            <td>Atendido</td>
            <td><i class="material-icons md-24 md-dark">more_horiz</i></td>
          </tr>
          <tr>
            <td>
              <label>
                <input type="checkbox" />
              </label>
            </td>
            <td>#1332</td>
            <td>Qual a senha do Wi-fi?</td>
            <td>Infraestrutura</td>
            <td>
              <div class="requester">
                <div class="requesterAvatar">
                  <img src="/random_avatars/35.jpg" />
                </div>
                <div class="requesterInfo">
                  <a>João Dias</a>
                  <span>Gerente | Dpto. de Compras</span>
                </div>
              </div>
            </td>
            <td>
              <div class="assignee">
                <div class="assigneeAvatar">
                  <img
                    src="/random_avatars/photo-1438761681033-6461ffad8d80.jpg"
                  />
                </div>
                <div class="assigneeInfo">
                  <a>Clara Oliveira</a>
                  <span>Junior Developer</span>
                </div>
              </div>
            </td>
            <td>Alta</td>
            <td>06-abr-2020</td>
            <td>Atendido</td>
            <td><i class="material-icons md-24 md-dark">more_horiz</i></td>
          </tr>
          <tr>
            <td>
              <label>
                <input type="checkbox" />
              </label>
            </td>
            <td>#1332</td>
            <td>Qual a senha do Wi-fi?</td>
            <td>Infraestrutura</td>
            <td>
              <div class="requester">
                <div class="requesterAvatar">
                  <img src="/random_avatars/35.jpg" />
                </div>
                <div class="requesterInfo">
                  <a>João Dias</a>
                  <span>Gerente | Dpto. de Compras</span>
                </div>
              </div>
            </td>
            <td>
              <div class="assignee">
                <div class="assigneeAvatar">
                  <img
                    src="/random_avatars/photo-1438761681033-6461ffad8d80.jpg"
                  />
                </div>
                <div class="assigneeInfo">
                  <a>Clara Oliveira</a>
                  <span>Junior Developer</span>
                </div>
              </div>
            </td>
            <td>Alta</td>
            <td>06-abr-2020</td>
            <td>Atendido</td>
            <td><i class="material-icons md-24 md-dark">more_horiz</i></td>
          </tr>
          <tr>
            <td>
              <label>
                <input type="checkbox" />
              </label>
            </td>
            <td>#1332</td>
            <td>Qual a senha do Wi-fi?</td>
            <td>Infraestrutura</td>
            <td>
              <div class="requester">
                <div class="requesterAvatar">
                  <img src="/random_avatars/35.jpg" />
                </div>
                <div class="requesterInfo">
                  <a>João Dias</a>
                  <span>Gerente | Dpto. de Compras</span>
                </div>
              </div>
            </td>
            <td>
              <div class="assignee">
                <div class="assigneeAvatar">
                  <img
                    src="/random_avatars/photo-1438761681033-6461ffad8d80.jpg"
                  />
                </div>
                <div class="assigneeInfo">
                  <a>Clara Oliveira</a>
                  <span>Junior Developer</span>
                </div>
              </div>
            </td>
            <td>Alta</td>
            <td>06-abr-2020</td>
            <td>Atendido</td>
            <td><i class="material-icons md-24 md-dark">more_horiz</i></td>
          </tr>
          <tr>
            <td>
              <label>
                <input type="checkbox" />
              </label>
            </td>
            <td>#1332</td>
            <td>Qual a senha do Wi-fi?</td>
            <td>Infraestrutura</td>
            <td>
              <div class="requester">
                <div class="requesterAvatar">
                  <img src="/random_avatars/35.jpg" />
                </div>
                <div class="requesterInfo">
                  <a>João Dias</a>
                  <span>Gerente | Dpto. de Compras</span>
                </div>
              </div>
            </td>
            <td>
              <div class="assignee">
                <div class="assigneeAvatar">
                  <img
                    src="/random_avatars/photo-1438761681033-6461ffad8d80.jpg"
                  />
                </div>
                <div class="assigneeInfo">
                  <a>Clara Oliveira</a>
                  <span>Junior Developer</span>
                </div>
              </div>
            </td>
            <td>Alta</td>
            <td>06-abr-2020</td>
            <td>Atendido</td>
            <td><i class="material-icons md-24 md-dark">more_horiz</i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
