<div class="col-12">
  <div class="rowTicket">
    <div class="titleBar">
      <h4>Alta prioridade</h4>

      <i class="material-icons md-24 md-light">settings</i>
    </div>

    <div class="ticketList">
    <% Array(2).fill().forEach((num) => { %>

      <div class="col-12" id="ticket">
        <div class="col-10" id="ticketInfo">
          <h5>Qual a senha do Wi-fi?</h5>

          <h6>Ticket aberto por: Fred Postigo</h6>

          <p>Preciso saber qual a senha para aces...</p>
        </div>
        <div class="col-2" id="ticketStatus">
          <i class="material-icons md-48 md-dark">assignment_late</i>
        </div>
      </div>


    <% }) %>
    </div>

  </div>
</div>

<link rel="stylesheet" href="/css/operator/_top_priority_tickets.css" />
