#operatorHeader {
    height: 50px;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: flex-end;
  }

#operatorHeader div {
    margin-right: 15px;

}
.operatorAvatar img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 5px;
    
}
.operatorAvatar{
    display: flex;
    align-items: center;

}