#userHeader {
  height: 50px;
  justify-content: space-between;
  align-items: center;
} 

header .profile img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border: 1px solid #1c1c4c;
  border-radius: 5px;
}

header .searchBar {
  height: 40px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;

}

header .searchBar input {
  width: 100%;
  height: 75%;
  font-size: 14px;
  padding-left: 15px;
  border: none;
  border-radius: 10px 0 0 10px;
}

header .searchBar button {
  width: 5%;
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 0 5px;
  transition: background-color 1s;
}

header #searchBar {
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .searchBar button:hover {
  background-color: #e29736;
}

.profile {
  align-items: flex-end;
  margin-right: 15px;
}

.pathContainer {
  height: 36px;
  margin: 15px 0 0 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pathContainer a {
  text-decoration: none;
  font-weight: 400;
  font-size: 26px;
  margin-left: 15px;
  color: #888;
}

.servicesContainer {
  margin: 20px 40px 0 40px;
  display: flex;
  flex-wrap: nowrap;
}

.services {
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: center;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 300px;
  background-color: #ddd;
  border: 5px solid var(--clr-grey-5);
  border-radius: 15px;
  margin: 10px 10px;
}

.service img {
  margin: auto;
}

.service a {
  text-decoration: none;
  color: var(--clr-grey-1);
  text-align: center;
  margin: auto;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.info {
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  height: 300px;
  width: 250px;
  border-radius: 10px;
}

.infoContainer .info .infoTitle {
  background-color: var(--clr-grey-1);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
}

.infoTitle h3 {
  color: #ddd;
  text-align: center;
}