<!-- HEADBAR -->
<header id="operatorHeader">
  <div>
    <i class="material-icons md-36 md-dark">settings</i>
  </div>

  <div>
    <i class="material-icons md-36 md-dark">announcement</i>
  </div>

  <div class="operatorAvatar">
    <img
      src="/random_avatars/photo-1438761681033-6461ffad8d80.jpg"
      alt="user icon"
    />
  </div>
</header>
<!-- STYLE -->
<link rel="stylesheet" href="/css/operator/headbar.css" type="text/css" />
<!-- END -->
