<header id="operatorHeader">


<div class="operatorAvatar">
    <img src="random_avatars/photo-1438761681033-6461ffad8d80.jpg" alt="user icon">
    <i class="material-icons md-18 md-dark">keyboard_arrow_down</i>
</div>
<div>
<i class="material-icons md-24 md-dark">settings</i>
</div>
<div>
    <i class="material-icons md-24 md-dark">announcement</i>
</div>
</header>