<header id="operatorHeader">
  <div>
    <i class="material-icons md-36 md-dark">settings</i>
  </div>

  <div>
    <i class="material-icons md-36 md-dark">announcement</i>
  </div>

  <div class="operatorAvatar">
    <img src="/img/random_avatars/17.jpg" alt="user icon" />
  </div>
</header>

<link rel="stylesheet" href="/css/operator/_headbar.css" type="text/css" />
