<div class="col-12">
  <div class="panel">
    <div class="panel_title_bar">
      <h4>Usuários</h4>

      <i class="material-icons md-24 md-light">settings</i>
    </div>

    <div class="y_overflow_list users">
      <% Array(30).fill().forEach((num) => { %>

        <%- include("./_user_row.ejs")%>

      <% }) %>
    </div>
  </div>
</div>
