.users {
  max-height: 35vh;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 0;
  margin: 10px 100px 10px 10px;
  border-radius: 30px;
  background-color: var(--clr-main-light);
}

.user_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.user_avatar {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  object-fit: cover;
}
