<div class="col-sm-2 p-1 service">
    <a href="/user/subcategory">
      <i class="material-icons md-125"><%= icon %></i>

      <span class="service_title one_line_text"><%= title %></span>
    </a>
</div>
