<div class="form-group row py-0 my-0">
  <label
    class="col-sm-3 mb-1 col-form-label col-form-label-sm form_panel_label"
    for="zip_code"
  >
    C. Postal
  </label>

  <div class="col-sm">
    <input
      type="number"
      name="zip_code" 
      id="zip_code"
      class="form-control form-control-sm form_panel_text_input"
      placeholder="12345678"
      value="<%= faker.address.zipCode() %>"
    />
  </div>
</div>