.image_grid_row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  padding-bottom: 5px;

  background-color: var(--clr-grey-1);
}

.image_grid_column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.image_grid_column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .image_grid_column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .image_grid_column {
    flex: 100%;
    max-width: 100%;
  }
}