#main_footer {
  margin-top: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 40px;
  background-color: var(--clr-main);
}

#main_footer p {
  color: var(--clr-white);
  text-align: center;
  font-size: 1rem;

  /* algum css anterior estava modificando o margin do p do footer*/
  margin: 0;
  margin-left: 5px;
}
