#sidenav {
  position: fixed;
  z-index: 999;
}

#logo_sidenav {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  pointer-events: none;
}

.closed {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.closed button {
  background: none;
  border: none;
}

.closed i {
  margin-top: 10px;
}

.sidenavClosed {
  width: 100px;
  height: 100vh;
  background-color: #273c50;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1s;
}

.sidenavClosed .open {
  display: none;
}

.sidenavOpen {
  width: 300px;
  height: 100vh;
  background-color: #273c50;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1s;
}

.sidenavOpen .closed {
  display: none;
}

.sidenavOpen div {
  width: 100%;
}

.open a {
  color: #fff;
  font-size: 20px;
}

.open {
  height: 100%;
}

.open div {
  text-align: center;
  border-bottom: 1px solid #37526b;
  padding: 10px;
  transition: background-color 1s;
  cursor: pointer;
}

.open div:hover {
  background-color: #436585;
}

.open div#logout {
  position: absolute;
  bottom: 0;
  border-top: 1px solid #37526b;
}
