.servicesContainer {
  margin: 20px 40px 0 40px;
  display: flex;
  flex-wrap: nowrap;
  min-height: 85vh;
}

.services {
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: center;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 300px;
  background-color: #ddd;
  border: 5px solid var(--clr-grey-5);
  border-radius: 15px;
  margin: 10px 10px;
}

.service img {
  margin: auto;
}

.service a {
  text-decoration: none;
  color: var(--clr-grey-1);
  text-align: center;
  margin: auto;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.info {
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  height: 300px;
  width: 250px;
  border-radius: 10px;
}

.infoContainer .info .infoTitle {
  background-color: var(--clr-grey-1);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
}

.infoTitle h3 {
  color: #ddd;
  text-align: center;
}
