<!-- TITLE -->
<%- contentFor('title') %>
Reset de senha
<!-- END -->

<!-- BODY -->
<%- contentFor('body') %>
<main>
  <div class="login">
    <object
      id="logo_login"
      data="/logo/logo_white_clean.svg"
      type="image/svg+xml"
    ></object>

    <div class="switch">
      <a href="/login" id="link-usuario">Login de usuário</a>
      |
      <a href="/login" id="link-operador">Login de operador</a>
    </div>

    <br/>

    <form action="" method="POST" class="login-form">
      <label for="login" class="login_form_label">Reset de senha</label>
      <input
        type="text"
        id="login"
        name="login"
        placeholder="Login ou email"
        class="form-control"
        required
      />

      <button type="submit" id="submit_login">Entrar</button>
    </form>
  </div>
</main>
<!-- STYLE -->
<link rel="stylesheet" href="/css/login/styles.css" type="text/css" />
<!-- END -->
