<!DOCTYPE html>
<html lang="en">
  <%- include("../shared/_head.ejs", { title: 'Login' })%>

  <body>
    <main>
      <div class="login">
        <object
          id="logo_login"
          data="/logo/logo_white_clean.svg"
          type="image/svg+xml"
        ></object>

        <div class="switch">
          <a href="#" id="link-usuario">Login de usuário</a>
          |
          <a href="#" id="link-operador">Login de operador</a>
        </div>

        <form action="" method="POST" class="login-form">
          <input
            type="text"
            id="login"
            name="login"
            placeholder="Login"
            class="form-control"
            required
          />

          <input
            type="password"
            id="senha"
            name="senha"
            placeholder="Senha"
            class="form-control"
            required
          />

          <a href="#" class="password-recovery">Esqueci minha senha</a>

          <button type="submit" id="submit_login">Entrar</button>
        </form>
      </div>
    </main>
  </body>
</html>
