<!DOCTYPE html>
<html lang="en">
  <%- include("./shared/_head.ejs", { title: 'Telas' })%>

  <body>
    <div class="container">
      <section class="row p-5">
        <div class="col-md-4 pb-5">
          <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">
                <a href="/login">Login</a>
              </h5>
            </div>
          </div>
        </div>

        <div class="col-md-4 pb-5">
          <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">
                <a href="/password_reset">Reset de senha</a>
              </h5>
            </div>
          </div>
        </div>

        <div class="col-md-4 pb-5">
          <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">
                <a href="/user">Usuario</a>
              </h5>
            </div>
          </div>
        </div>

        <div class="col-md-4 pb-5">
          <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">
                <a href="/operator">Operador</a>
              </h5>
            </div>
          </div>
        </div>
      </section>
    </div>

    <%- include("./shared/_bootstrap_script.ejs")%>
  </body>
</html>
