<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/reset.css" type="text/css" />
    <link rel="stylesheet" href="css/sidenav_user.css" type="text/css" />

    <title>NeoDesk | Telas</title>
  </head>
  <body>
    <a href="/login">Login</a>

    <br />
    <br />
    <a href="/user">Usuario</a>

    <br />
    <br />
    <a href="/operator">Operador</a>
  </body>
</html>
