<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeoDesk</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./user-login.css">
</head>

<body>
    <main class="main">
        <div class="login">
            <div class="logo">
                <img src="./Disks.png" alt="" class="logo">
            </div>
            <div class="switch">
                <a href="#" class="link-usuario">Login de usuário</a>
                <a href="#" class="link-operador">Login de operador</a>
            </div>
            <div class="login-form">
                <form action="" method="POST">
                    <input type="text" id="login" name="login" placeholder="Login" class="form-control" required>
                    <input type="password" id="senha" name="senha" placeholder="Senha" class="form-control" required>
                    <a href="#" class="password-recovery">Esqueci minha senha</a>
                    <form action="" method="POST">
                        <input type="submit" value="Entrar" class="btn form-btn">
                    </form>
                </form>
            </div>
        </div>
    </main>
</body>

</html>