/* Rules for sizing the icon. */
.material-icons.md-12 {
  font-size: 12px;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.md-72 {
  font-size: 72px;
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.material-icons.md-gray {
  color: #AAAAAAFF;
}
.material-icons.md-gray.md-inactive {
  color: #AAAAAA55;
}

.material-icons.md-secondary {
  color: #617d98FF;
}
.material-icons.md-secondary.md-inactive {
  color: #617d9855;
}
