:root {
  --clr-primary: #1c1c4c;
  --clr-primary-light: #6797ce;

  --clr-main: #273c50;
  --clr-main-light: #e3f9f0;

  --clr-success: #b2ff4d;
  --clr-success-light: #c4f583;

  --clr-danger: #e82453;
  --clr-danger-light: #fe7395;

  --clr-info: #d2ff96;
  --clr-info-light: #f2fed0;

  --clr-aux: #fc743a;
  --clr-aux-light: #ffb57f;

  --clr-gold: #d4af37;
  --clr-gold-light: #e0c56e;

  --clr-grey-0: #aaaaaa;
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f5f6f7;
  --clr-ultra-light: #effef8;
  --clr-white: #dcdcf3;

  --ff-primary: 'Roboto', sans-serif;

  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}
