#operatorHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  height: 80px;
  background-color: var(--clr-primary-light);
}

#operatorHeader div {
  margin-right: 15px;
}
.operatorAvatar img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 25px;
}
