.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  width: 90%;
  height: 600px;
  border: 2px solid #333;
  margin: 20px 30px;
  border-radius: 5px;
}

section header {
  height: 40px;
  background-color: var(--clr-primary-light);
  display: flex;
  align-items: center;
  color: #fff;
}

section header h2 {
  font-size: 18px;
  margin: 20px;
}

section ul {
  display: flex;
  flex-direction: column;
  height: 556px;
  width: 100%;
  overflow: auto;
}

section ul li {
  display: flex;
  align-items: center;
  background-color: #3ad9df;
  margin: 10px 5px 0;
  padding: 5px;
  border-radius: 5px;
}

section ul img {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  object-fit: cover;
  border: 1px solid #333;
}

#info {
  margin-left: 10px;
}

#actions {
  margin-left: auto;
}

#actions:hover {
  cursor: pointer;
}

#actions i:nth-child(2) {
  color: #bb334a;
}

section ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  min-height: 30px;
}

section ::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
  border: 2px solid  #000;
  min-height: 30px;
}

section ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #0c41b4;
  min-height: 30px;
}


