<%- contentFor('title') %> 400 <%- contentFor('body') %>
<main id="error_canvas">
  <div class="error_container">
    <div class="error_content page_not_found">
      <h1>Eita!</h1>
    </div>
    <h2>404 - Página não encontrada</h2>
    <p>
      A pagina que você está procurando pode ter sido removida, mudado de nome
      ou está temporariamente indisponível.
    </p>
    <a href="/">Volar para a Home</a>
  </div>
</main>

<link rel="stylesheet" href="/css/access/error.css" type="text/css" />
<link rel="stylesheet" href="/css/access/styles.css" type="text/css" />
