<%- contentFor('title') %> 500 <%- contentFor('body') %>
<main id="error">
  <div id="error_canvas">
    <div class="error_container">
      <div class="error_content server_error">
        <h1>Nossa!</h1>
      </div>
      <h2>500 - Erro interno</h2>
      <p>
        Tente denovo em algums instantes ou entre em contato com o suporte: +55
        (11) 99999-9999
      </p>
      <a href="/">Volar para a Home</a>
    </div>
  </div>
</main>

<link rel="stylesheet" href="/css/access/error.css" type="text/css" />
