<%- contentFor('title') %> Login <%- contentFor('body') %>
<main>
  <div class="login">
    <object
      id="logo_login"
      data="/logo/logo_white_clean.svg"
      type="image/svg+xml"
    ></object>

    <div class="switch">
      <a href="/login" id="link-usuario">Login de usuário</a>
      |
      <a href="/login" id="link-operador">Login de operador</a>
    </div>

    <br />

    <form action="" method="POST" class="login-form">
      <label for="login" class="login_form_label">Login</label>
      <input
        type="text"
        id="login"
        name="login"
        placeholder="Usuario ou email"
        class="form-control"
        required
      />

      <label for="senha" class="login_form_label">Senha</label>
      <input
        type="password"
        id="senha"
        name="senha"
        placeholder="Sua senha secreta"
        class="form-control"
        required
      />

      <a href="/password_reset" class="password-recovery"
        >Esqueci minha senha</a
      >

      <button type="submit" id="submit_login">Entrar</button>
    </form>
  </div>
</main>
<!-- STYLE -->
<link rel="stylesheet" href="/css/access/styles.css" type="text/css" />
