<div class="ticketData col-6 ">
  <div class="userInfo">
    <div class="dataHead">
      <div id="titleHead">
        <h3>User Data</h3>
      </div>
      <div id="buttonHead"><i class="material-icons md-18 md-dark">settings</i></div>
    </div>
    <div class="dataUser">
      <div class="dataConteiner" id="name">
        <span class="label">Name:</span>
        <span class="data">Augusto Santiago</span>
      </div>
      <div class="dataConteiner" id="position">
        <span class="label">Position:</span>
        <span class="data">Junior Developer</span>
      </div>
      <div class="dataConteiner" id="department">
        <span class="label">Department:</span>
        <span class="data">TI</span>
      </div>
      <div class="dataConteiner" id="phone">
        <span class="label">Phone:</span>
        <span class="data">+55 (11) 99776-5544</span>
      </div>
      <div class="dataConteiner" id="email">
        <span class="label">E-mail</span>
        <span class="data">a.santiago@neodesk.com</span>
      </div>
      <div class="dataConteiner" id="unity">
        <span class="label">Unity:</span>
        <span class="data">Vila Olímpia</span>
      </div>
      <div class="dataConteiner" id="location">
        <span class="label">Location:</span>
        <span class="data">São Paulo, São Paulo</span>
      </div>
      <div class="dataConteiner" id="country">
        <span class="label">Country:</span>
        <span class="data">Brazil</span>
      </div>
      <div class="dataUserAvatar">
        <img src="<%= faker.internet.avatar() %>" />
      </div>
    </div>
  </div>
  <div class="ticketInfo">
    <div class="dataHead">
      <div id="titleHead">
        <h3>Ticket Data</h3>
      </div>
      <div id="buttonHead"><i class="material-icons md-18 md-dark">settings</i></div>
    </div>
    <div class="dataTicket">
      <div class="dataConteiner" id="status">
        <span class="label">Status:</span>
        <span class="data">Pending</span>
      </div>
      <div class="dataConteiner" id="priority">
        <span class="label">Priority:</span>
        <span class="data">High priority</span>
      </div>
      <div class="dataConteiner" id="date">
        <span class="label">Date:</span>
        <span class="data">3 hours ago</span>
      </div>
      <div class="dataConteiner" id="sla">
        <span class="label">SLA:</span>
        <span class="data">5 hours</span>
      </div>
      <div class="dataConteiner" id="difficulty">
        <span class="label">Difficulty:</span>
        <span class="data">Easy</span>
      </div>
      <div class="dataConteiner" id="operator">
        <span class="label">Operator:</span>
        <span class="data">Operator 012</span>
      </div>
      <div class="dataConteiner" id="group">
        <span class="label">Group:</span>
        <span class="data">Networks and servers</span>
      </div>
      <div class="dataConteiner" id="category">
        <span class="label">Category:</span>
        <span class="data">Networks</span>
      </div>
      <div class="dataConteiner" id="sub-category">
        <span class="label">Sub-category:</span>
        <span class="data">WAN</span>
      </div>
      <div class="dataConteiner" id="type">
        <span class="label">Type:</span>
        <span class="data">Maintence request</span>
      </div>
    </div>
  </div>
</div>
<div class="ticketChat col-6 ">
  <div class="chatHeader">
    <div class="titleTicket md-dark">
      <h2><%= ticketTitle %></h2>
      <span>Operator 1, Magener 2, Operator 3, User 327</span>
    </div>
  </div>
  <div class="chatMain">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut veniam quos maiores accusantium aliquid enim, saepe nam nulla explicabo eligendi, veritatis quae voluptatibus aut fuga odio similique neque sit natus!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut veniam quos maiores accusantium aliquid enim, saepe nam nulla explicabo eligendi, veritatis quae voluptatibus aut fuga odio similique neque sit natus!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut veniam quos maiores accusantium aliquid enim, saepe nam nulla explicabo eligendi, veritatis quae voluptatibus aut fuga odio similique neque sit natus!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut veniam quos maiores accusantium aliquid enim, saepe nam nulla explicabo eligendi, veritatis quae voluptatibus aut fuga odio similique neque sit natus!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut veniam quos maiores accusantium aliquid enim, saepe nam nulla explicabo eligendi, veritatis quae voluptatibus aut fuga odio similique neque sit natus!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut veniam quos maiores accusantium aliquid enim, saepe nam nulla explicabo eligendi, veritatis quae voluptatibus aut fuga odio similique neque sit natus!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut veniam quos maiores accusantium aliquid enim, saepe nam nulla explicabo eligendi, veritatis quae voluptatibus aut fuga odio similique neque sit natus!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut veniam quos maiores accusantium aliquid enim, saepe nam nulla explicabo eligendi, veritatis quae voluptatibus aut fuga odio similique neque sit natus!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut veniam quos maiores accusantium aliquid enim, saepe nam nulla explicabo eligendi, veritatis quae voluptatibus aut fuga odio similique neque sit natus!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut veniam quos maiores accusantium aliquid enim, saepe nam nulla explicabo eligendi, veritatis quae voluptatibus aut fuga odio similique neque sit natus!</p>
  </div>
  <div class="chatInputBar">
    <form action="">
      <label for="attachFile"><i class="material-icons md-22 md-dark">attach_file</i></label>
      <input type="file" name="attachFile" id="attachFile">
      <textarea name="chatMsg" id="chatMsg" cols="30" rows="1" placeholder="Type your message:"></textarea>
      <label for="sendMsg"><i class="material-icons md-22 md-dark">send</i></label>
      <input type="file" name="sendMsg" id="sendMsg">
    </form> 
  </div>
</div>
