<div class="form-group row py-0 my-0">
  <label
    class="col-sm-3 mb-1 col-form-label col-form-label-sm form_panel_label"
    for="dateOfBirth"
  >
    Nascimento
  </label>

  <div class="col-sm">
    <input
      type="date"
      name="dateOfBirth"
      id="dateOfBirth"
      class="form-control form-control-sm form_panel_text_input"
      placeholder="1997-03-11"
      value=""
    />
  </div>
</div>
