<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <link rel="stylesheet" href="../css/material_icons_custom.css" type="text/css" />
    
    <link rel="stylesheet" href="../css/global_variables.css" type="text/css" />
    <link rel="stylesheet" href="../css/global.css" type="text/css" />

    <link rel="stylesheet" href="../css/user/header.css" type="text/css"/>
    <link rel="stylesheet" href="../css/sidenav.css" type="text/css" />
    <link rel="stylesheet" href="../css/user/path.css" type="text/css"/>
    
    <link rel="stylesheet" href="../css/user/subcategorie.css" type="text/css"/>
    <title>NeoDesk | Subcategoria</title>
  </head>
  <body>
    <%- include("../_sidenav.ejs")%>
    <div class="contentContainer">
      <%- include("../_headbar.ejs")%>
      <%- include("../../shared/_path.ejs", {path: ['home', 'ti']})%>
      <main>
        <div id="InfoContainer">
          <div id="banner">
            <img src="../img/ti-bg.jpg" alt="Banner TI">
          </div>
          <article>
            <h2>Info sobre categoria</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sunt asperiores maiores, voluptatibus maxime totam harum facilis repellat. Minus laborum ipsa eum quae sequi aspernatur aliquam dolor voluptatibus sapiente id!</p>
          </article>
        </div>
        <nav class="subCategorieOptions">
          <a href="#" class="option">
            <i class="material-icons">assignment</i>
            <p>Opcao de subcategoria</p>
          </a>
          <a href="#" class="option">
            <i class="material-icons">assignment</i>
            <p>Opcao de subcategoria</p>
          </a>
          <a href="#" class="option">
            <i class="material-icons">assignment</i>
            <p>Opcao de subcategoria</p>
          </a>
          <a href="#" class="option">
            <i class="material-icons">assignment</i>
            <p>Opcao de subcategoria</p>
          </a>
          <a href="#" class="option">
            <i class="material-icons">assignment</i>
            <p>Opcao de subcategoria</p>
          </a>
          <a href="#" class="option">
            <i class="material-icons">assignment</i>
            <p>Opcao de subcategoria</p>
          </a>
        </nav>
      </main>
    </div>
  </body>
</html>
