<div class="col-12">
  <div class="rowTicket">
    <div class="titleBar">
      <h4>Todos os Tickets</h4>
      <i class="material-icons md-24 md-light">settings</i>
    </div>
    <div class="ticketList">
      <table class="tableTickets">
        <thead class="tableHead">
          <tr>
            <th><input type="checkbox"></th>
            <th>ID</th>
            <th>Título</th>
            <th>Categoria</th>
            <th>Aberto por</th>
            <th>Atendido por</th>
            <th>Prioridade</th>
            <th>Data</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody class="tableBody">
          <tr>
            <td><input type="checkbox"></td>
            <td>#1332</td>
            <td>Qual a senha do Wi-fi?</td>
            <td>Infraestrutura</td>
            <td>
              <div class="requester">
                <div class="requesterAvatar">
                  <img src="/random_avatars/35.jpg" />
                </div>
                <div class="requesterInfo">
                  <a>João Dias</a>
                  <span>Gerente | Dpto. de Compras</span>
                </div>
              </div>
            </td>
            <td>
              <div class="assignee">
                <div class="assigneeAvatar">
                  <img src="/random_avatars/photo-1438761681033-6461ffad8d80.jpg" />
                </div>
                <div class="assigneeInfo">
                  <a>Clara Oliveira</a>
                  <span>Junior Developer</span>
                </div>
              </div>
            </td>
            <td>Alta</td>
            <td>06-abr-2020</td>
            <td>Atendido</td>
            <td><i class="material-icons md-24 md-dark">more_horiz</i></td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>#1332</td>
            <td>Qual a senha do Wi-fi?</td>
            <td>Infraestrutura</td>
            <td>
              <div class="requester">
                <div class="requesterAvatar">
                  <img src="/random_avatars/35.jpg" />
                </div>
                <div class="requesterInfo">
                  <a>João Dias</a>
                  <span>Gerente | Dpto. de Compras</span>
                </div>
              </div>
            </td>
            <td>
              <div class="assignee">
                <div class="assigneeAvatar">
                  <img src="/random_avatars/photo-1438761681033-6461ffad8d80.jpg" />
                </div>
                <div class="assigneeInfo">
                  <a>Clara Oliveira</a>
                  <span>Junior Developer</span>
                </div>
              </div>
            </td>
            <td>Alta</td>
            <td>06-abr-2020</td>
            <td>Atendido</td>
            <td><i class="material-icons md-24 md-dark">more_horiz</i></td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>#1332</td>
            <td>Qual a senha do Wi-fi?</td>
            <td>Infraestrutura</td>
            <td>
              <div class="requester">
                <div class="requesterAvatar">
                  <img src="/random_avatars/35.jpg" />
                </div>
                <div class="requesterInfo">
                  <a>João Dias</a>
                  <span>Gerente | Dpto. de Compras</span>
                </div>
              </div>
            </td>
            <td>
              <div class="assignee">
                <div class="assigneeAvatar">
                  <img src="/random_avatars/photo-1438761681033-6461ffad8d80.jpg" />
                </div>
                <div class="assigneeInfo">
                  <a>Clara Oliveira</a>
                  <span>Junior Developer</span>
                </div>
              </div>
            </td>
            <td>Alta</td>
            <td>06-abr-2020</td>
            <td>Atendido</td>
            <td><i class="material-icons md-24 md-dark">more_horiz</i></td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>#1332</td>
            <td>Qual a senha do Wi-fi?</td>
            <td>Infraestrutura</td>
            <td>
              <div class="requester">
                <div class="requesterAvatar">
                  <img src="/random_avatars/35.jpg" />
                </div>
                <div class="requesterInfo">
                  <a>João Dias</a>
                  <span>Gerente | Dpto. de Compras</span>
                </div>
              </div>
            </td>
            <td>
              <div class="assignee">
                <div class="assigneeAvatar">
                  <img src="/random_avatars/photo-1438761681033-6461ffad8d80.jpg" />
                </div>
                <div class="assigneeInfo">
                  <a>Clara Oliveira</a>
                  <span>Junior Developer</span>
                </div>
              </div>
            </td>
            <td>Alta</td>
            <td>06-abr-2020</td>
            <td>Atendido</td>
            <td><i class="material-icons md-24 md-dark">more_horiz</i></td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>#1332</td>
            <td>Qual a senha do Wi-fi?</td>
            <td>Infraestrutura</td>
            <td>
              <div class="requester">
                <div class="requesterAvatar">
                  <img src="/random_avatars/35.jpg" />
                </div>
                <div class="requesterInfo">
                  <a>João Dias</a>
                  <span>Gerente | Dpto. de Compras</span>
                </div>
              </div>
            </td>
            <td>
              <div class="assignee">
                <div class="assigneeAvatar">
                  <img src="/random_avatars/photo-1438761681033-6461ffad8d80.jpg" />
                </div>
                <div class="assigneeInfo">
                  <a>Clara Oliveira</a>
                  <span>Junior Developer</span>
                </div>
              </div>
            </td>
            <td>Alta</td>
            <td>06-abr-2020</td>
            <td>Atendido</td>
            <td><i class="material-icons md-24 md-dark">more_horiz</i></td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>#1332</td>
            <td>Qual a senha do Wi-fi?</td>
            <td>Infraestrutura</td>
            <td>
              <div class="requester">
                <div class="requesterAvatar">
                  <img src="/random_avatars/35.jpg" />
                </div>
                <div class="requesterInfo">
                  <a>João Dias</a>
                  <span>Gerente | Dpto. de Compras</span>
                </div>
              </div>
            </td>
            <td>
              <div class="assignee">
                <div class="assigneeAvatar">
                  <img src="/random_avatars/photo-1438761681033-6461ffad8d80.jpg" />
                </div>
                <div class="assigneeInfo">
                  <a>Clara Oliveira</a>
                  <span>Junior Developer</span>
                </div>
              </div>
            </td>
            <td>Alta</td>
            <td>06-abr-2020</td>
            <td>Atendido</td>
            <td><i class="material-icons md-24 md-dark">more_horiz</i></td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>#1332</td>
            <td>Qual a senha do Wi-fi?</td>
            <td>Infraestrutura</td>
            <td>
              <div class="requester">
                <div class="requesterAvatar">
                  <img src="/random_avatars/35.jpg" />
                </div>
                <div class="requesterInfo">
                  <a>João Dias</a>
                  <span>Gerente | Dpto. de Compras</span>
                </div>
              </div>
            </td>
            <td>
              <div class="assignee">
                <div class="assigneeAvatar">
                  <img src="/random_avatars/photo-1438761681033-6461ffad8d80.jpg" />
                </div>
                <div class="assigneeInfo">
                  <a>Clara Oliveira</a>
                  <span>Junior Developer</span>
                </div>
              </div>
            </td>
            <td>Alta</td>
            <td>06-abr-2020</td>
            <td>Atendido</td>
            <td><i class="material-icons md-24 md-dark">more_horiz</i></td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>#1332</td>
            <td>Qual a senha do Wi-fi?</td>
            <td>Infraestrutura</td>
            <td>
              <div class="requester">
                <div class="requesterAvatar">
                  <img src="/random_avatars/35.jpg" />
                </div>
                <div class="requesterInfo">
                  <a>João Dias</a>
                  <span>Gerente | Dpto. de Compras</span>
                </div>
              </div>
            </td>
            <td>
              <div class="assignee">
                <div class="assigneeAvatar">
                  <img src="/random_avatars/photo-1438761681033-6461ffad8d80.jpg" />
                </div>
                <div class="assigneeInfo">
                  <a>Clara Oliveira</a>
                  <span>Junior Developer</span>
                </div>
              </div>
            </td>
            <td>Alta</td>
            <td>06-abr-2020</td>
            <td>Atendido</td>
            <td><i class="material-icons md-24 md-dark">more_horiz</i></td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>#1332</td>
            <td>Qual a senha do Wi-fi?</td>
            <td>Infraestrutura</td>
            <td>
              <div class="requester">
                <div class="requesterAvatar">
                  <img src="/random_avatars/35.jpg" />
                </div>
                <div class="requesterInfo">
                  <a>João Dias</a>
                  <span>Gerente | Dpto. de Compras</span>
                </div>
              </div>
            </td>
            <td>
              <div class="assignee">
                <div class="assigneeAvatar">
                  <img src="/random_avatars/photo-1438761681033-6461ffad8d80.jpg" />
                </div>
                <div class="assigneeInfo">
                  <a>Clara Oliveira</a>
                  <span>Junior Developer</span>
                </div>
              </div>
            </td>
            <td>Alta</td>
            <td>06-abr-2020</td>
            <td>Atendido</td>
            <td><i class="material-icons md-24 md-dark">more_horiz</i></td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>#1332</td>
            <td>Qual a senha do Wi-fi?</td>
            <td>Infraestrutura</td>
            <td>
              <div class="requester">
                <div class="requesterAvatar">
                  <img src="/random_avatars/35.jpg" />
                </div>
                <div class="requesterInfo">
                  <a>João Dias</a>
                  <span>Gerente | Dpto. de Compras</span>
                </div>
              </div>
            </td>
            <td>
              <div class="assignee">
                <div class="assigneeAvatar">
                  <img src="/random_avatars/photo-1438761681033-6461ffad8d80.jpg" />
                </div>
                <div class="assigneeInfo">
                  <a>Clara Oliveira</a>
                  <span>Junior Developer</span>
                </div>
              </div>
            </td>
            <td>Alta</td>
            <td>06-abr-2020</td>
            <td>Atendido</td>
            <td><i class="material-icons md-24 md-dark">more_horiz</i></td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>#1332</td>
            <td>Qual a senha do Wi-fi?</td>
            <td>Infraestrutura</td>
            <td>
              <div class="requester">
                <div class="requesterAvatar">
                  <img src="/random_avatars/35.jpg" />
                </div>
                <div class="requesterInfo">
                  <a>João Dias</a>
                  <span>Gerente | Dpto. de Compras</span>
                </div>
              </div>
            </td>
            <td>
              <div class="assignee">
                <div class="assigneeAvatar">
                  <img src="/random_avatars/photo-1438761681033-6461ffad8d80.jpg" />
                </div>
                <div class="assigneeInfo">
                  <a>Clara Oliveira</a>
                  <span>Junior Developer</span>
                </div>
              </div>
            </td>
            <td>Alta</td>
            <td>06-abr-2020</td>
            <td>Atendido</td>
            <td><i class="material-icons md-24 md-dark">more_horiz</i></td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>#1332</td>
            <td>Qual a senha do Wi-fi?</td>
            <td>Infraestrutura</td>
            <td>
              <div class="requester">
                <div class="requesterAvatar">
                  <img src="/random_avatars/35.jpg" />
                </div>
                <div class="requesterInfo">
                  <a>João Dias</a>
                  <span>Gerente | Dpto. de Compras</span>
                </div>
              </div>
            </td>
            <td>
              <div class="assignee">
                <div class="assigneeAvatar">
                  <img src="/random_avatars/photo-1438761681033-6461ffad8d80.jpg" />
                </div>
                <div class="assigneeInfo">
                  <a>Clara Oliveira</a>
                  <span>Junior Developer</span>
                </div>
              </div>
            </td>
            <td>Alta</td>
            <td>06-abr-2020</td>
            <td>Atendido</td>
            <td><i class="material-icons md-24 md-dark">more_horiz</i></td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>#1332</td>
            <td>Qual a senha do Wi-fi?</td>
            <td>Infraestrutura</td>
            <td>
              <div class="requester">
                <div class="requesterAvatar">
                  <img src="/random_avatars/35.jpg" />
                </div>
                <div class="requesterInfo">
                  <a>João Dias</a>
                  <span>Gerente | Dpto. de Compras</span>
                </div>
              </div>
            </td>
            <td>
              <div class="assignee">
                <div class="assigneeAvatar">
                  <img src="/random_avatars/photo-1438761681033-6461ffad8d80.jpg" />
                </div>
                <div class="assigneeInfo">
                  <a>Clara Oliveira</a>
                  <span>Junior Developer</span>
                </div>
              </div>
            </td>
            <td>Alta</td>
            <td>06-abr-2020</td>
            <td>Atendido</td>
            <td><i class="material-icons md-24 md-dark">more_horiz</i></td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>#1332</td>
            <td>Qual a senha do Wi-fi?</td>
            <td>Infraestrutura</td>
            <td>
              <div class="requester">
                <div class="requesterAvatar">
                  <img src="/random_avatars/35.jpg" />
                </div>
                <div class="requesterInfo">
                  <a>João Dias</a>
                  <span>Gerente | Dpto. de Compras</span>
                </div>
              </div>
            </td>
            <td>
              <div class="assignee">
                <div class="assigneeAvatar">
                  <img src="/random_avatars/photo-1438761681033-6461ffad8d80.jpg" />
                </div>
                <div class="assigneeInfo">
                  <a>Clara Oliveira</a>
                  <span>Junior Developer</span>
                </div>
              </div>
            </td>
            <td>Alta</td>
            <td>06-abr-2020</td>
            <td>Atendido</td>
            <td><i class="material-icons md-24 md-dark">more_horiz</i></td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>#1332</td>
            <td>Qual a senha do Wi-fi?</td>
            <td>Infraestrutura</td>
            <td>
              <div class="requester">
                <div class="requesterAvatar">
                  <img src="/random_avatars/35.jpg" />
                </div>
                <div class="requesterInfo">
                  <a>João Dias</a>
                  <span>Gerente | Dpto. de Compras</span>
                </div>
              </div>
            </td>
            <td>
              <div class="assignee">
                <div class="assigneeAvatar">
                  <img src="/random_avatars/photo-1438761681033-6461ffad8d80.jpg" />
                </div>
                <div class="assigneeInfo">
                  <a>Clara Oliveira</a>
                  <span>Junior Developer</span>
                </div>
              </div>
            </td>
            <td>Alta</td>
            <td>06-abr-2020</td>
            <td>Atendido</td>
            <td><i class="material-icons md-24 md-dark">more_horiz</i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="rowDetail">
    <div class="sessionDetail">
      <div class="titleBar">
        <h4>Pedidos</h4>
      </div>
      <div id="sessionRequest">
        <h4>Aqui vão os Pedidos</h4>
      </div>
    </div>
    <div class="sessionDetail">
      <div class="titleBar">
        <h4>Ações</h4>
      </div>
      <div id="sessionAction">
        <h4>Aqui vão as Ações</h4>
      </div>
    </div>
    <div class="sessionDetail">
      <div class="titleBar">
        <h4>Anexos</h4>
      </div>
      <div id="sessionAttachment">
        <h4>Aqui vão os Anexos</h4>
      </div>
    </div>
  </div>
</div>
