<header id="userHeader">
  <div class="searchBar">
    <input type="text" placeholder="Use palavras chave para facilitar a pesquisa"/>
    <button type="submit" id="searchBar">
      <i class="material-icons md-24 md-dark">search</i>
    </button>
  </div>

  <div class="profile">
    <img src="random_avatars/32.jpg" alt="user icon">
  </div>
</header>