<header id="userHeader">
  <div class="searchBar">
    <input
      type="text"
      placeholder="Use palavras chave para facilitar a pesquisa"
    />
    <button type="submit">
      <i class="material-icons md-36 md-dark">search</i>
    </button>
  </div>

  <div class="profile">
    <img src="/img/random_avatars/2.jpg" alt="user icon" />
  </div>
</header>

<link rel="stylesheet" href="/css/user/_headbar.css" type="text/css" />
