<nav id="sidenav" class="sidenavClosed">
  <a href="/">
    <object
      id="logo_sidenav"
      data="/img/logo/logo_white_clean.svg"
      type="image/svg+xml"
    ></object>
  </a>

  <div class="closed">
    <button onClick="openNavBar()">
      <i class="material-icons md-48 md-light">menu</i>
    </button>

    <i class="material-icons md-36 md-light">search</i>
    <i class="material-icons md-36 md-light">assignment_turned_in</i>
    <i class="material-icons md-36 md-light">assignment</i>
  </div>

  <div class="open">
    <div><a href="#">HOME</a></div>
    <div><a href="#">CHAMADOS</a></div>
    <div><a href="#">PERFIL</a></div>

    <div id="logout"><a href="/logout">LOGOUT</a></div>
  </div>

  <script src="/javascript/sidenav.js"></script>
</nav>

<link rel="stylesheet" href="/css/shared/_sidenav.css" type="text/css" />
