<nav id="sidenav" class="sidenavClosed">
  <object id="logo_sidenav" data="/logo/logo_blue_clean.svg" type="image/svg+xml"></object>

  <div class="closed">
    <button onClick="openNavBar()">
      <i class="material-icons md-24 md-light">menu</i>
    </button>
    <i class="material-icons md-24 md-light">search</i>
    <i class="material-icons md-24 md-light">assignment_turned_in</i>
    <i class="material-icons md-24 md-light">assignment</i>

  </div>

  <div class="open">
    <div><a href="#">HOME</a></div>
    <div><a href="#">CHAMADOS</a></div>
    <div><a href="#">PERFIL</a></div>

    <div id="logout"><a href="/">LOGOUT</a></div>
  </div>

  <script src="/javascript/sidenav.js"></script>
</nav>