<aside class="infoContainer">
  <div class="info">
    <div class="infoTitle">
      <h3>Problemas generalizados</h3>
    </div>

    <div></div>
  </div>

  <div class="info">
    <div class="infoTitle">
      <h3>Atualizacoes</h3>
    </div>

    <div></div>
  </div>
</aside>