<aside class="info_container">
  <div class="info">
    <span class="info_title">Problemas generalizados</span>

    <div class="updates y_overflow_list">
      <% Array(14).fill().forEach((num) => { %>

      <div class="update">
        <a href="#" class="update_title"><%= faker.lorem.words() %></a>
      </div>

      <% }) %>
    </div>
  </div>

  <div class="info">
    <span class="info_title">Atualizações</span>

    <div class="updates y_overflow_list">
      <% Array(14).fill().forEach((num) => { %>

      <div class="update">
        <a href="#" class="update_title"><%= faker.lorem.words() %></a>
      </div>

      <% }) %>
    </div>
  </div>
</aside>

<link rel="stylesheet" href="/css/user/shared/_misc_information.css" />
