<section class="services">
  <div class="service">
    <img src="/img/icons/ti.svg" alt="TI icon" />

    <a href="/user/subcategory">TI</a>
  </div>

  <div class="service">
    <img src="/img/icons/rh.svg" alt="TI icon" />

    <a href="#">Recursos Humanos</a>
  </div>

  <div class="service">
    <img src="/img/icons/support.svg" alt="TI icon" />

    <a href="#">Suporte</a>
  </div>

  <div class="service">
    <img src="/img/icons/my_calls.svg" alt="TI icon" />

    <a href="#">Meus Chamados</a>
  </div>

  <div class="service">
    <img src="/img/icons/logistic.svg" alt="TI icon" />

    <a href="#">Logistica</a>
  </div>

  <div class="service">
    <img src="/img/icons/maintence.svg" alt="TI icon" />

    <a href="#">Manutencao</a>
  </div>

  <div class="service">
    <img src="/img/icons/international.svg" alt="TI icon" />

    <a href="#">International</a>
  </div>
</section>