<div class="col-md-2">
  <div class="card border-info" style="width: 18rem;">
    <img src="/img/thumbnails/login.png" class="card-img-top" alt="..." />

    <div class="card-body">
      <h5 class="card-title">Login</h5>

      <p class="card-text">Onde Usuarios e Operadores se autenticam.</p>

      <a href="/login" class="btn btn-primary">Visualizar</a>
    </div>
  </div>
</div>

<div class="col-md-2">
  <div class="card border-info" style="width: 18rem;">
    <img
      src="/img/thumbnails/password_reset.png"
      class="card-img-top"
      alt="..."
    />

    <div class="card-body">
      <h5 class="card-title">Reset de senha</h5>

      <p class="card-text">Onde Usuarios e Operadores trocam a senha.</p>

      <a href="/password_reset" class="btn btn-primary">Visualizar</a>
    </div>
  </div>
</div>

<div class="col-md-2">
  <div class="card border-info" style="width: 18rem;">
    <img src="/img/thumbnails/404.png" class="card-img-top" alt="..." />

    <div class="card-body">
      <h5 class="card-title">404 - Pagina não encontrada</h5>

      <p class="card-text">
        Retorno da aplicação quando uma rota não é valida.
      </p>

      <a href="/404" class="btn btn-primary">Visualizar</a>
    </div>
  </div>
</div>

<div class="col-md-2">
  <div class="card border-info" style="width: 18rem;">
    <img src="/img/thumbnails/500.png" class="card-img-top" alt="..." />

    <div class="card-body">
      <h5 class="card-title">500 - Erro interno</h5>

      <p class="card-text">
        Retorno da aplicação quando tudo da errado.
      </p>

      <a href="/500" class="btn btn-primary">Visualizar</a>
    </div>
  </div>
</div>
