<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info p-3 pl-5">
    <object
      id="logo_home"
      data="/logo/logo_white_clean.svg"
      type="image/svg+xml"
    ></object>

    <a class="navbar-brand" href="/">eoDesk</a>
  </nav>
</header>
