<div class="col-md-2">
  <div class="card border-info" style="width: 18rem;">
    <img
      src="/img/thumbnails/user_dashboard.png"
      class="card-img-top"
      alt="..."
    />

    <div class="card-body">
      <h5 class="card-title">Dashboard do Usuario</h5>

      <p class="card-text">Onde Usuarios navegam a applicação.</p>

      <a href="/user" class="btn btn-primary">Visualizar</a>
    </div>
  </div>
</div>

<div class="col-md-2">
  <div class="card border-info" style="width: 18rem;">
    <img
      src="/img/thumbnails/user_subcategory.png"
      class="card-img-top"
      alt="..."
    />

    <div class="card-body">
      <h5 class="card-title">Seleção de Subcategoria</h5>

      <p class="card-text">
        Onde Usuarios especificam a subcategoria na abertura do chamado.
      </p>

      <a href="/user/subcategory" class="btn btn-primary">Visualizar</a>
    </div>
  </div>
</div>

<div class="col-md-2">
  <div class="card border-info" style="width: 18rem;">
    <img
      src="/img/thumbnails/user_ticket_new.png"
      class="card-img-top"
      alt="..."
    />

    <div class="card-body">
      <h5 class="card-title">Criação de ticket</h5>

      <p class="card-text">
        Onde Usuarios preenchem o formulario relatando a falha, solicitação ou
        duvida.
      </p>

      <a href="/user/ticket/new" class="btn btn-primary">Visualizar</a>
    </div>
  </div>
</div>
