#error_canvas {
  position: relative;
  height: 100vh;

  background-image: linear-gradient(90deg, #fff, #e3f9f0);
}

#error_canvas .error_container {
  position: absolute;
  left: 50%;
  top: 50%;

  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.error_container {
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.error_container .error_content {
  height: 280px;
  position: relative;
  z-index: -1;
}

.error_container .page_not_found h1 {
  background: url('../../img/galaxy.jpg') no-repeat;
}

.error_container .server_error h1 {
  background: #e82453;
}

.error_container .error_content h1 {
  font-size: 350px;
  margin: 0px;
  font-weight: 900;

  position: absolute;
  left: 50%;
  bottom: 5%;

  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;

  background-size: cover;
  background-position: center;
}

.error_container h2 {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;

  margin-top: 0;
}

.error_container p {
  color: #999;
  font-size: 20px;
  font-weight: 400;

  margin-bottom: 20px;
  margin-top: 0px;
}

.error_container a {
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;

  background: #6797ce;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 40px;

  -webkit-box-shadow: 0px 4px 15px -5px #0046d5;
  box-shadow: 0px 4px 15px -5px #0046d5;
}

@media only screen and (max-width: 600px) {
  .error_container .error_content {
    height: 142px;
  }
  .error_container .error_content h1 {
    font-size: 112px;
  }
}
