<div class="form-group row py-0 my-0">
  <label
    class="col-sm-3 mb-1 col-form-label col-form-label-sm form_panel_label"
    for="city"
  >
    Cidade
  </label>

  <div class="col-sm">
    <input
      type="text"
      name="city" 
      id="city"
      class="form-control form-control-sm form_panel_text_input"
      placeholder="São Paulo"
      value=""
    />
  </div>
</div>